.hero {
    /* position: absolute;
    z-index: -10; */
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.heroBlock {
    width: 100%;
    height: 100%;
    position: relative;
}

.sliderTrack {
    height: 100vh;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    /* Для мобильных: */
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65); /* 35% прозрачности */
    z-index: 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: clamp(12px, 12vw, 800px);
    top: 22%;
}

.title {
    position: relative;
    z-index: 2;
    font-size: 4rem;
    font-weight: bold;
}

.description {
    color: rgba(240, 240, 240, 0.823);
    position: relative;
    z-index: 2;
    font-size: 1.6rem;
    margin-top: 1rem;
}

@media (max-width: 700px) {
    .slide {
        height: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .textContainer {
        left: clamp(8px, 4vw, 32px);
        top: 20%;
    }
    .title {
        font-size: 2.1rem;
    }
    .description {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 450px) {
    .slide {
        height: 100vh;
        min-height: 100vh;
    }
    .textContainer {
        left: clamp(4px, 2vw, 16px);
        top: 28%;
    }
    .title {
        font-size: 1.6rem;
    }
    .description {
        font-size: 1.2rem;
        max-width: 70vw;
    }
}